
.cart{
	margin: 40px 0;
}
.right{
	text-align: right;
}
.carttype{
	display: inline-block;
	width: 150px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	margin-right: 15px;
	position: relative;
}

.carttype>span{
	padding-left: 16px;
}

.carttype .whiteleft{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 0 17px 16px;
	border-color: transparent transparent transparent #000000;
	line-height: 0px;
	_border-color: #ffffff #ffffff #ffffff #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}
.carttype .whiteleft font{

	position: absolute;
	left: -17px;
	top: -17px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 0 17px 16px;
	border-color: transparent transparent transparent #ffffff;
	line-height: 0px;
	_border-color: #ffffff #ffffff #ffffff #ffffff;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}
.carttype .blackright{
	position: absolute;
	top: -1px;
	right: -17px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 0 17px 18px;
	border-color: transparent transparent transparent #000000;
	line-height: 0px;
	_border-color: #ffffff #ffffff #ffffff #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}
.carttype .blackright font{
	position: absolute;
	top: -17px;
	right: 2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 0 17px 18px;
	border-color: transparent transparent transparent #ffffff;
	line-height: 0px;
	_border-color: #ffffff #ffffff #ffffff #ffffff;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}

.carttype.active{
	background-color: #000;
	color: #fff;
}
.carttype.active .blackright font{
	display: none;
}

.cartlisttitle{
	margin-bottom: 20px;
}
.cartlisttitle h1{
	text-align: left;
	font-size: 18px;
	font-weight: normal;
}
.cartlisttitle h1 span{
	font-size: 14px;
	color: #8c8c8c;
	display: inline-block;
	border-left: 1px solid #333;
	padding: 2px 15px;
	margin-left: 15px;
}

.cartlistmenu{
	padding: 0;
	height: 40px;
	line-height: 40px;
	background-color: #bbbbbb;
	font-size: 16px;
}
.cartlistmenu input, .cartlistitem input{
	position: absolute;
	left: 20px; 
	top: 10px;
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #bbb;
}
.cartlistitem input{
	top:  30px;
}
.cartlistitem{
	padding: 0;
	height: 100px;
	line-height: 80px;
	border-bottom: 1px dashed #bbb;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding-top: 10px;
	padding-bottom: 10px;
}
.cartlistitem, .cartlistitem a{
	color: #666;
}
.cartlistitem .thumb{
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 1px solid #bbb;
	overflow: hidden;
	text-align: center;
}
.cartlistitem .thumb img{
	width: 72px;
	height: 72px;
	display: table-cell;
	margin: 3px;
}

.cartlistitem .productattr{
	display: block;
	line-height: 40px;
}

.cartlistitem .productnum{
	width: 100%;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin: 30px 0;
}
.cartlistitem .productnum div{
	display: inline-block;
	width: 20px;
	height: 20px;
}
.cartlistitem .productnum .shownum{
	width: 60px;
	height: 20px;
	border: 1px solid #999;
	margin: 0 10px;
}

.cartlistitem .productnum div a{
	display: inline-block;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	width: 100%;
	height: 20px;
	border: 1px solid #999;
	line-height: 18px;
}

.cartlistitem .productxj{
	display: block;
	line-height: 30px;
	padding-left: 50px;
	font-size: 16px;
	color: #000;
}

.cartlistmenu,.cartlistitem{
	text-align: center;
}

.cartlistxj{
	height: 80px;
	line-height: 60px;
	border-bottom: 1px solid #bbb;
}
.cartlistxj input{
	top: 20px;
}
.cartlistamount{
	height: 60px;
	line-height: 40px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #bbb;
}
.productamount{
	font-size: 16px;
	color: #000;
}
.productamount font{
	font-size: 18px;
	color: #8a1e1e;
}

.checkorder{
	text-align: right;
	margin: 30px 0;
	padding
}
.checkorder .tocheck{
	display: inline-block;
	width: 140px;
	height: 40px;
	line-height: 40px;
	background-color: #000;
	color: #fff;
	text-align: center;
	border-radius: 5px;
}

.orderform{
	width: 100%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(pie.htc);
	
	border: 1px solid #bbbbbb;
	-moz-box-shadow: 0px 0px 10px #bbb;
	-webkit-box-shadow: 0px 0px 10px #bbb;
	box-shadow: 0px 0px 10px #bbb;
	overflow: hidden;
}

.successorder{
	width: 100%;
	padding: 50px 0;
    text-align: center;
}
.bigtitle{
    font-size: 22px;
    width: 100%;
    text-align: center;
}
.orderinfo{
	width: 500px;
	margin: 0 auto;
    text-align: left;
	height: 260px;
	border: 1px dashed #bbb;
    padding: 30px 34px;
	font-weight: normal;
}
.orderinfo label,#stepsuccess label{
	font-weight: normal;
}
#stepsuccess{    
	font-size: 28px;
    height: 100px;
    background: url(./image/success.png) no-repeat center;
    background-position: 340px;
    background-size: 48px;    
	line-height: 40px;
    padding-top: 28px;
	margin-bottom: 20px;
}
#success{    
	font-size: 28px;
    height: 100px;
    background: url(./image/success.png) no-repeat center;
    background-position: 50%;
    background-size: 60px;    
	line-height: 60px;
    padding-top: 80px;
	margin-bottom: 20px;
}
#success label{
	font-weight: normal;
	font-size: 30px;
}

.endtime{
	width: 500px;
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
}
.endtime span{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	background: url('./image/clock.png') no-repeat center;
	background-position: 0px;
	background-size: 28px;
	padding-left: 40px;
}
.endtime font{
	font-size: 18px;
	font-weight: 500;
	color: #8a1e1e;
}

.ordertotal{
	width: 500px;
	margin: 0 auto;
	height: 40px;
	text-align: left;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}
.orderbtn{
	text-align: left;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}
.orderbtn{
	margin-top: 70px;
	text-align: center;
}
.orderbtn a{
	width: 140px;
	height: 40px;
	line-height: 40px;
	background-color: #000;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
	margin: 0 20px;
}

.ordertotal label{
	font-weight: normal;
	font-size: 14px;
	display: inline-block;
}

.ordertotal label font{
	font-size: 28px;
	color: #8a1e1e;
}

.btnpay{
	position: absolute;
	display: inline-block;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #000;
	color: #fff;
	border-radius: 5px;
	margin-left: 32px;
}