/**/
.cart{
	margin: 40px 0;
}
.right{
	text-align: right;
}
.carttype{
	display: inline-block;
	width: 150px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	margin-right: 15px;
	position: relative;
}

.carttype>span{
	padding-left: 16px;
}

.carttype .whiteleft{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 0 17px 16px;
	border-color: transparent transparent transparent #000000;
	line-height: 0px;
	_border-color: #ffffff #ffffff #ffffff #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}
.carttype .whiteleft font{

	position: absolute;
	left: -17px;
	top: -17px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 0 17px 16px;
	border-color: transparent transparent transparent #ffffff;
	line-height: 0px;
	_border-color: #ffffff #ffffff #ffffff #ffffff;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}
.carttype .blackright{
	position: absolute;
	top: -1px;
	right: -17px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 0 17px 18px;
	border-color: transparent transparent transparent #000000;
	line-height: 0px;
	_border-color: #ffffff #ffffff #ffffff #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}
.carttype .blackright font{
	position: absolute;
	top: -17px;
	right: 2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 0 17px 18px;
	border-color: transparent transparent transparent #ffffff;
	line-height: 0px;
	_border-color: #ffffff #ffffff #ffffff #ffffff;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
}

.carttype.active{
	background-color: #000;
	color: #fff;
}
.carttype.active .blackright font{
	display: none;
}

.cartlisttitle{
	margin-bottom: 20px;
}
.cartlisttitle h1{
	text-align: left;
	font-size: 18px;
	font-weight: normal;
}
.cartlisttitle h1 span{
	font-size: 14px;
	color: #8c8c8c;
	display: inline-block;
	border-left: 1px solid #333;
	padding: 2px 15px;
	margin-left: 15px;
}

.cartlistmenu{
	padding: 0;
	height: 40px;
	line-height: 40px;
	background-color: #bbbbbb;
	font-size: 16px;
}
.cartlistmenu input, .cartlistitem input{
	position: absolute;
	left: 20px; 
	top: 10px;
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #bbb;
}
.cartlistitem input{
	top:  30px;
}
.cartlistitem{
	padding: 0;
	height: 100px;
	line-height: 80px;
	border-bottom: 1px dashed #bbb;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding-top: 10px;
	padding-bottom: 10px;
}
.cartlistitem, .cartlistitem a{
	color: #666;
}
.cartlistitem .thumb{
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 1px solid #bbb;
	overflow: hidden;
	text-align: center;
}
.cartlistitem .thumb img{
	width: 72px;
	height: 72px;
	display: table-cell;
	margin: 3px;
}

.cartlistitem .productattr{
	display: block;
	line-height: 40px;
}

.cartlistitem .productnum{
	width: 100%;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin: 30px 0;
}
.cartlistitem .productnum div{
	display: inline-block;
	width: 20px;
	height: 20px;
}
.cartlistitem .productnum .shownum{
	width: 60px;
	height: 20px;
	border: 1px solid #999;
	margin: 0 10px;
}

.cartlistitem .productnum div a{
	display: inline-block;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	width: 100%;
	height: 20px;
	border: 1px solid #999;
	line-height: 18px;
}

.cartlistitem .productxj{
	display: block;
	line-height: 30px;
	padding-left: 50px;
	font-size: 16px;
	color: #000;
}

.cartlistmenu,.cartlistitem{
	text-align: center;
}

.cartlistxj{
	height: 80px;
	line-height: 60px;
	border-bottom: 1px solid #bbb;
}
.cartlistxj input{
	top: 20px;
}
.cartlistamount{
	height: 60px;
	line-height: 40px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #bbb;
}
.productamount{
	font-size: 16px;
	color: #000;
}
.productamount font{
	font-size: 18px;
	color: #8a1e1e;
}

.checkorder{
	text-align: right;
	margin: 30px 0;
	padding
}
.checkorder .tocheck{
	display: inline-block;
	width: 140px;
	height: 40px;
	line-height: 40px;
	background-color: #000;
	color: #fff;
	text-align: center;
	border-radius: 5px;
}

textarea{
	width:700px;
    max-width:700px;
    height:78px;
    max-height:78px;
    overflow-y:auto;
	resize: none;
	border: 1px solid #000;
}
.clear{
	margin-top: 50px;
}

.required{
	color: #fd6880;
}
.addresslist{
	width: 100%;
	line-height: 40px;
	margin: 10px 0;
}

.adlable{
	width: 70px;
	padding: 0;
	margin: 0;
	text-align: right;
}
.adinput{
	margin: 0px 20px;
}
.adinput input{
	padding: 0px 10px;
	width: 350px;
	height: 40px;
	border: 1px solid #000;
}

.typelist{
	margin: 10px 0;
}
.typelist .adlable{
	width: auto;
	margin: 0 30px;
}
.typelist .adlable input{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #bbb;
}
.pay{
	height:　40px;
	line-height: 40px;
}
.pay .adlable{
	display: inline-table;
	height: 40px;
	line-height: 40px;
}
.pay .adlable input{
	display: inline-block;
	margin-right: 15px;
}
.pay .adlable i{
	display: table-cell;
	width: 150px;
	height: 40px;
	border: 1px solid #bbb;
}
.pay .adlable i.iconzfb{
	background: url('./image/pay_zfb.png') no-repeat center;
}
.pay .adlable i.iconyl{
	background: url('./image/pay_yl.png') no-repeat center;
}
.pay .adlable i.iconye{
	background: url('./image/pay_ye.png') no-repeat center;
}
.pay .adlable i.iconwx{
	background: url('./image/pay_wx.png') no-repeat center;
}


























